body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0,0,0,1) no-repeat !important;
  color: #f1f1f1;
}
nav {
  background: #000 !important;
}
.nav-link {
  cursor: pointer
}
.active {
  background: linear-gradient(rgb(25, 25, 25), rgb(0,0,0)) rgba(0,0,0,1) no-repeat !important;
  border: 1px solid #333 !important;
}
#close-button:hover {
  filter: brightness(115%);
  transition: .5s
}
#close-button:active {
  filter: brightness(90%);
}
#close-button {
    transition: .5s
}
.nav-item {
  transition: .5s;
}
.text-red {
  color: red;
}
.bg-black {
  background: #000
}
.list-group-item {
  background: rgba(0,0,0,.5);
  color: #fff !important;
  border-bottom: 1px solid #333 !important;
  word-wrap: break-word;
  transition: .5s;
}
.dropdown-item {
  background: #111 !important;
  color: #fff !important;
  border-bottom: 1px solid #333 !important;
}
.dropdown-item:hover {
  background: #333 !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255,1) !important;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.dropdown-menu {
  background: rgba(0,0,0,1) !important;
}
.scrollable {
  max-height: 25vh !important;
  overflow: scroll
}
.caret {
  margin-right: -.25rem
}
div, span, small, p {
  letter-spacing: 1px;
}
@keyframes pulse {
  50% {
    transform: scale(1.05);
  }
}
.pulse {
  animation: pulse 3s infinite;
  animation-timing-function: ease-in-out;
}
table, table tr, td, tbody {
  border: 0 !important
}
td {
  padding: 0 !important
}
.list-group-item:hover {
  background: #111 !important;
  cursor: pointer !important;
  transition: .5s;
}
.card-header {
  border-bottom: 1px solid #333 !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.favorite-action {
  animation: fadeIn 3s 1;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.color-spinner {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, yellow), linear-gradient(#262626, #141414);
  animation: rotate 1.5s linear infinite;
}
.color-spinner:before,
.color-spinner:after {
  content: " ";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: #000;
  border-radius: inherit;
}
.color-spinner:before {
  background: linear-gradient(45deg, transparent, transparent 40%, yellow);
  filter: blur(32px);
}